
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Thank you for submitting your application
          </h1>
          <div class="govuk-panel__body">
            Your reference number<br><strong>HDJ2123F</strong>
          </div>
        </div>

        <p class="govuk-body">You have uploaded the following documents during 
          this application.</p>
          <ol class="app-task-list">
            <li>
              <h2 class="app-task-list__section">
                <span class="app-task-list__section-number"> </span>
              </h2>
              <ul class="app-task-list__items">
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="eligibility-status">
                      Passport
                    </a>
                  </span>
                  
                </li>
                <li class="app-task-list__item">
                  <span class="app-task-list__task-name">
                    <a href="#" aria-describedby="read-declaration-status">
                      Driving License
                    </a>
                  </span>
                  
            </li>
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                <a href="#" aria-describedby="list-convictions-status">
                  Water Bill
                </a>
              </span>
              
            </li>
          </ul>
          </ol>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          If you would like to store these for future services please
        </p>
        <p class="govuk-body">
          <a href="\start" class="govuk-link">Create an account</a> 
        </p>
      </div>
    </div>
  </main>
</div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <details class="govuk-details" data-module="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">
            What is the account service for ?
          </span>
        </summary>
        <div class="govuk-details__text"> <ul>
          <li> You can save uploaded documents on your account </li>
          <li> Upload additional ID documents </li>
          <li>Choose duration for documents to stay on system </li>
          <li> Choose which service you would like your documents to have access to</li>
        </ul>


        </div>
      </details>

    </div>
  </div>

{% endblock %}
