
{% extends "layout.html" %}

{% block pageTitle %}
  Home – GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">
  Jonh's account
 </h1>

        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          <a href="\overview" class="govuk-link">Document Overview</a> 
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Choose which services the documents can be share with</a> 
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">Choose how long documents should be kept on the system for</a> 
        </p>


{% endblock %}
